html{
  overflow-y:hidden;
  overflow-x:hidden;
}
body{
  margin:0px;
  position:relative;
}
p{
  margin-block:0px;
}
img{
  user-select:none;
}
.background{
  background-size:100%;
  background-repeat:no-repeat;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  display:grid;
  place-items:center;
  position:fixed;
  z-index:2;
}
.background2{
  background-size:100%;
  background-repeat:no-repeat;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  display:grid;
  place-items:center;
  position:fixed;
  z-index:1;
}
.mainWrapper{
  background-size:cover;
  background-repeat:no-repeat;
  width:max-content;
  height:100vh;
}
.animCard{
  font-family:'Agrandir Regular';
  width:fit-content;
  position:absolute;
  z-index:3;
  font-size:3vw;
}
#forhain1{
  top:21.7vw;
  left:26vw;
}
.creatives{
  top:25vw;
  left:57vw;
}
#presenthowfoodis{
  top:29vw;
  left:26vw;
}
#auniversallanguage{
  top:36vw;
  left:38vw;
}
#universal{
  top:50%;
  left:50%;
  translate:-50% -50%;
}
section{
  float:left;
  position:relative;
  isolation:isolate;
  height:100%;
  font-family:'Agrandir Regular';
}
section > *{
  position:absolute;
}
.endFrame{
  width:94vw;
  height:100%;
}
.artist{
  width:max-content;
}
.artistName{
  font-size:5vw;
}
.artName{
  font-size:3vw;
  font-family:'Agrandir Wide Light';
}
.view{
  border:2px solid;
  padding:0.75em 1em;
  width:199.675px;
  text-align:center;
  font-size:1em;
  cursor:pointer;
  user-select:none;
}

.winniecelestine{ background-color:#403B3B; color:var(--lightCol); }
.winniecelestine{ width:1628.150px; }
.winniecelestine .artistName, .chloerosales .artistName, .skaimalik .artistName, .ronaldoalfonso .artistName, .suedolores .artistName, .bernicerowe .artistName, .ahmedhashem .artistName, .sabipratik .artistName, .peterchan .artistName{ font-size:76.8px; }
.winniecelestine .artName, .chloerosales .artName, .skaimalik .artName, .ronaldoalfonso .artName, .suedolores .artName, .ahmedhashem .artName{ font-size:46.08px; }
.winniecelestine .artistName{ bottom:107.520px; left:531.287px; }
.winniecelestine .artName{ bottom:76.800px; left:528.588px; }
.winniecelestine .view{ bottom:21.504px; left:533.125px; }
.winniecelestine .wallart{ height:100%; }
.winniecelestine .art1, .winniecelestine .art2{ scale:0.8; top:50%; translate:0px -50%; }
.winniecelestine .art1{ right:307.200px; }
.winniecelestine .art2{ right:0; }

.chloerosales, .skaimalik, .ronaldoalfonso{ width:1167.350px; }
.chloerosales{ background-color:#353628; color:var(--lightCol); }
.chloerosales img{ scale:0.8; }
.chloerosales .artistName{ top:0; left:0; }
.chloerosales .artName{ top:76.800px; left:0; }
.chloerosales .view{ top:138.240px; left:7.680px; }
.chloerosales .art1{ top:50%; translate:0% -50%; left:-72.192px; }
.chloerosales .art2{ top:0; right:276.480px; }
.chloerosales .art3{ bottom:0; right:276.480px; }
.chloerosales .art4{ top:50%; translate:0% -50%; right:0; }

.skaimalik{ background-color:#F2EDEC; color:var(--darkCol); }
.skaimalik img{ top:76.800px; scale:0.8; }
.skaimalik .artistName{ bottom:184.320px; right:291.840px }
.skaimalik .artName{ bottom:138.240px; left:230.400px }
.skaimalik .view{ bottom:72.192px; right:291.840px }
.skaimalik .art1{ left:-72.192px; }
.skaimalik .art2{ right:-72.192px; }

.ronaldoalfonso{ background-color:#413227; color:var(--lightCol); }
.ronaldoalfonso img{ top:50%; translate:0% -50%; scale:0.9; }
.ronaldoalfonso .artistName{ width:min-content; top:0; left:135.168px; }
.ronaldoalfonso .artName{ bottom:92.160px; left:135.168px; }
.ronaldoalfonso .view{ bottom:30.720px; left:135.168px; }
.ronaldoalfonso .art1{ left:107.520px; }
.ronaldoalfonso .art2{ left:50%; translate:-50% -50%; }
.ronaldoalfonso .art3{ right:107.520px; }

.suedolores{ width:1536px; background-color:#4E4E4E; color:var(--lightCol); }
.suedolores .artistName{ bottom:153.600px; left:384px; }
.suedolores .artName{ bottom:99.840px; left:384px; }
.suedolores .view{ bottom:15.360px; left:384px; }
.suedolores .art1{ height:100%; }

.harveytrahab{ width:691.200px; background-color:#212121; color:var(--lightCol); }
.harveytrahab img{ scale:0.8; }
.harveytrahab .artistName{ font-size:69.12px; top:30.720px; right:190.464px; }
.harveytrahab .artName{ font-size:61.44px; top:102.912px; right:190.464px; }
.harveytrahab .view{ top:184.320px; right:190.464px; }
.harveytrahab .art1{ bottom:153.600px; right:88.063px; }
.harveytrahab .art2{ bottom:76.800px; left:-350.208px; }
.harveytrahab .art3{ bottom:76.800px; left:-61.440px; }
.harveytrahab .art4{ bottom:76.800px; left:227.328px; }

.bernicerowe{ width:1075.200px; background-color:#212121; color:var(--lightCol); z-index:2; }
.bernicerowe .artistName{ top:0; left:0; }
.bernicerowe .artName{ width:min-content; font-size:69.12px; bottom:92.160px; left:90.624px; }
.bernicerowe .view{ bottom:46.080px; left:168.960px; }
.bernicerowe .art1{ right:0; height:100%; }
.bernicerowe .art2, .bernicerowe .art3, .bernicerowe .art4{ scale:0.8; }
.bernicerowe .art2{ top:15.360px; right:-291.840px; }
.bernicerowe .art3{ top:50%; translate:0% -50%; left:207.360px; }
.bernicerowe .art4{ bottom:15.360px; right:-291.840px; }

.ahmedhashem{ background-color:#FEEEDF; color:#D73317; }
.ahmedhashem{ width:1996.800px; }
.ahmedhashem img{ height:100%; scale:0.95; }
.ahmedhashem .artistName{ width:min-content; top:184.320px; left:414.720px; }
.ahmedhashem .artName{ top:399.360px; left:460.800px; }
.ahmedhashem .view{ top:459.525px; left:460.800px; }
.ahmedhashem .art1{ left:750px; }
.ahmedhashem .art2{ left:1249.200px; }
.ahmedbackg{ width:1233.400px; background-color:#D73317; height:100%; right:0; }

.sabipratik, .peterchan{ background-color:#412727; color:var(--lightCol); }
.sabipratik{ width:737.275px; }
.sabipratik img{ scale:0.8; }
.sabipratik .artistName{ width:min-content; text-align:right; bottom:138.240px; left:99.840px; }
.sabipratik .artName{ font-size:35.328px; bottom:76.800px; left:-59.904px; }
.sabipratik .view{ bottom:30.720px; left:-15.360px; }
.sabipratik .art1{ top:-44.544px; right:-72.192px; }
.sabipratik .art2{ bottom:-230.400px; right:-46.080px; }

.peterchan{ width:1889.280px; }
.peterchan img{ height:100%; }
.peterchan .artistName{ width:min-content; }
.peterchan .artistName{ top:0; left:0; }
.peterchan .artName{ font-size:33.792px; bottom:99.840px; left:168.960px; }
.peterchan .view{ bottom:38.400px; left:168.960px; }
.peterchan .art1{ right:444px; }
.peterchan .art2{ right:888px; }
.peterchan .art3{ right:0; }

.final{
  background-color:var(--lightCol);
  color:var(--darkCol);
  width:55vw;
  display:flex;
  justify-content:center;
  overflow:auto;
}
.finaloverflow{
  width:70%;
  padding:6em 0;
}
.hain{
  text-transform:uppercase;
  font-family:'Agrandir Grand Heavy';
}
.boldtitle{
  font-size:4.5em;
}
.hainsub{
  font-family:'Agrandir Wide Light';
  font-size:2.4em;
}
.haindesc{
  font-family:'Agrandir Regular';
  text-align:justify;
  margin-top:1.5em;
  line-height:1.4em;
}
.large{
  font-size:1.45em;
  text-transform:uppercase;
  line-height:unset;
}

.cardWrapper{
  background-color:var(--lightCol);
  color:var(--darkCol);
  display:grid;
  place-items:center;
  position:fixed;
  width:40em;
  height:100vh;
  right:0;
  z-index:5;
  translate:100% 0%;
  cursor:pointer;
}
.cardMain{
  height:80%;
  width:70%;
}
.cardMain .hain{
  font-size:3.4em;
}
.cardMain .hainsub{
  font-size:2.1em;
}
.cardDesc{
  font-family:'Agrandir Regular';
  margin-top:1.5em;
  text-transform:uppercase;
  text-align:justify;
  line-height:1.4em;
  font-size:0.9em;
}
.cardDescSub{
  font-family:'Agrandir Thin';
  margin-top:1.5em;
  text-align:justify;
  font-size:0.7em;
  display:inline-block;
}

@keyframes cardSlide{
  0%{ translate:100%; }
  100%{ translate:0%; }
}
@keyframes cardSlideRev{
  0%{ translate:0%; }
  100%{ translate:100%; }
}

.logo{
  position:fixed;
  filter:invert(1);
  z-index:10;
  top:0;
  right:0;
}

@media (width <= 430px){
  .background, .background2{
    background-position: -27.5em 0px;
  }
  .animCard{
    font-size: 2em;
  }
  #forhain1{
    top: 7.5em;
    left: 0.1em;
  }
  .creatives{
    top: 9em;
    left: 4.5em;
  }
  #presenthowfoodis{
    top: 10.5em;
    left: 0.1em;
  }
  #auniversallanguage{
    top: 13.7em;
    left: 0.6em;
  }
  #universal{
    text-align: center;
    width: 100%;
  }
  .final, .cardWrapper{ width:100vw; }
  .cardWrapper{ overflow:auto; }
  .cardMain{ padding:6em 0; }
}
@media (width <= 1130px){
  .background, .background2{
    background-size:cover
  }
}