body{
  margin:0px;
  background-image:url('../images/backgrounds/landing.png');
  background-size:cover;
  background-repeat:no-repeat;
  height:auto;
  width:100vw;
}
a{
  text-transform:uppercase;
  text-decoration:none;
  font-size:8.464vw;
  color:var(--lightCol);
  text-align:right;
  width:100%;
  display:inline-block;
  font-family:'Agrandir Grand Heavy';
}
.linkWrapper{
  width:90%;
  position:relative;
  isolation:isolate;
}
.words{
  transition:color 300ms ease;
}

.exhibitions:after, .artists:after, .events:after, .soundbites:after, .aboutus:after, .newspress:after{
  content:'';
  display:block;
  width:93%;
  height:80%;
  z-index:1;
  position:absolute;
  top:50%;
  right:0;
  background-size:cover;
  background-repeat:no-repeat;
  translate:0% -50%;
  opacity:0;
  transition:opacity 300ms ease;
  pointer-events:none;
}
.exhibitions:after{ background-image:url('../images/landing_page/exhibitions.png'); }
.artists:after{ background-image:url('../images/landing_page/artists.png'); }
.events:after{ background-image:url('../images/landing_page/events.png'); }
.soundbites:after{ background-image:url('../images/landing_page/soundbites.png'); }
.aboutus:after{ background-image:url('../images/landing_page/aboutus.png'); }
.newspress:after{ background-image:url('../images/landing_page/newspress.png'); }

.exhibitions:hover:after, .artists:hover:after, .events:hover:after, .soundbites:hover:after, .aboutus:hover:after, .newspress:hover:after{
  opacity:1;
}
@media (width < 1130px){
  body{
    height:100vh;
  }
}
@media (width < 430px){
  body{
    display:flex;
    flex-direction:column;
    justify-content:center;
  }
  a{
    font-size:10.4vw;
  }
  .linkWrapper, .linkWrapper:after{
    width:100%;
  }
}