.modalWrapper{
  position:fixed;
  height:100%;
  width:100%;
  top:0;
  left:0;
  display:none;
  justify-content:center;
  align-items:center;
  background-color:hsl(0, 0%, 0%, 75%);
  z-index:10;
}
.modalMain{
  height:90vh;
  aspect-ratio:1/1.15;
  background-color:var(--eventCol);
  position:relative;
  isolation:isolate;
}
.modalMain > div{
  float:left;
  height:100%;
  width:50%;
}
.modalPosterText{
  display:flex;
  justify-content:space-between;
}
.modalPosterText > p{
  font-size:3.5vh;
  padding:0.5vh;
}
.closeModal{
  cursor:pointer;
  height:3.5%;
  aspect-ratio:1/1;
  margin:2.5%;
  position:absolute;
  top:0;
  left:0;
}
.closeModal:after{
  content:'';
  display:block;
  height:100%;
  width:100%;
  background-color:var(--darkCol);
  clip-path:polygon(10% 0, 0 10%, 40% 50%, 0 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0, 50% 40%);
}
.modalLeft{
  display:grid;
  place-items:center;
}
.modalRight{
  font-family:'Agrandir Regular';
}
.modalDescription{
  text-align:center;
  font-size:5vh;
}
.modalRight > div{
  height:50%;
  width:-webkit-fill-available;
}
.modalPoster{
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
}

form{
  width:90%;
  font-family:'Agrandir Wide Light';
}
.modalFormDiv{
  display:flex;
}
.modalFormDiv > div{
  display:flex;
  flex-direction:column;
}
form p{
  margin-bottom:0.5vh;
  color:var(--darkCol);
  font-size:1.75vh;
  margin-top:2vh;
}
form input[type="text"]{
  padding-top:0px;
  height:4vh;
  width:93.1%;
  padding:1vh;
}
.modalFormDiv > div input{
  width:86.6%;
}
form input[type="text"]::placeholder{
  color:rgba(56, 56, 55, 0.4);
  font-size:1.75vh;
  font-style:italic;
}
.pn{
  margin-top:2vh;
}
form button{
  background-color:field;
  width:40%;
  height:4vh;
  color:rgba(56, 56, 55, 0.4);
  border:none;
  font-size:1.25vh;
  cursor:pointer;
}
.next{
  float:right;
}
.back{
  float:left;
}
form:not(:first-child){
  display:none;
}
.paymentMethod{
  height:12vh;
  width:100%;
  border:1px solid rgb(118, 118, 118);
}
.method > div{
  background-color:field;
  background-position:center;
  background-repeat:no-repeat;
  background-size:contain;
  cursor:pointer;
  height:6vh;
  width:50%;
  float:left;
  transition:filter 300ms ease;
}
.method > div:hover, .chosen{
  filter:brightness(0.85);
}
.visaCard{ background-image:url('../images/misc/visa.png'); }
.mastCard{ background-image:url('../images/misc/mastercard.png'); }
.googCard{ background-image:url('../images/misc/googlepay.png'); }
.applCard{ background-image:url('../images/misc/applepay.png'); }

.saveSecure{
  padding:5%;
  display:flex;
  border:1px solid rgb(118, 118, 118);
  border-radius:5px;
  margin-top:2vh;
}
.saveSecure input{
  scale:1.5;
  height:min-content;
  accent-color:transparent;
}
.saveSecure p{
  padding:1vh;
  padding-top:0px;
  margin:0px;
}
.saveSecure p i{
  font-size:1.3vh;
}
.saveSecure p b{
  font-size:1.7vh;
}
p sup{
  font-weight:bold;
  color:red;
}
.cardInfo{
  width:100%;
  display:flex;
}
.half{
  width:46.55% !important;
}
.hide{
  display:none !important;
}

.modalTicket{
  padding:2vh;
  padding-bottom:0px;
  height:calc(50% - 2vh) !important;
  font-size:2vh;
}
.modalTicketCounter{
  display:flex;
  flex-direction:column;
}
.modalTicketCounter hr{
  width:100%;
  border:none;
  height:1px;
  background-color:var(--eventCol);
}
.ticketWrapper > div{
  float:left;
  width:50%;
}
.ticketWrapper{
  margin:2vh 0px;
}
.ticketWrapper p{
  font-size:1.5vh;
}
.ticketWrapper i{
  font-family:'Agrandir Wide Light';
}
.ticketDesc{
  display:flex;
  justify-content:space-between;
  font-size:1.5vh;
  width:100% !important;
  margin-bottom:2vh;
}
.numberInput, .numberInput > div{
  display:flex;
}
.numberInput > div{
  flex-direction:column;
}
.numberInput{
  justify-content:flex-end;
}
.numberInput i{
  font-size:5vh;
  display:flex;
  align-items:center;
  margin-right:2vh;
}
.numberInput div i{
  font-size:3vh;
  cursor:pointer;
  user-select:none;
}

@media (width < 800px){
  .modalMain{ scale:0.8; }
}
@media (width < 580px){
  .modalMain{ scale:0.59; }
}